:root{
  --aqua: #99d1d1;
}
.header {
    display:flex;
    background-color:#3d4444;

}
.me {
    display:inline-block;
    max-width: 150px;
    max height: auto
    float: left;

} 
.h1 {
    background-color:var(--aqua);
    color:#0c0d0e;
   display:inline-block
}
