:root {
    --aqua: #99d1d1;
    --blue: blue;
    --black: black;
}


body {
    display: block;
    max-height: fit-content;

}

.header {
    display: flex;
    background-color: #3d4444;
    flex-wrap: wrap;
}

nav {
    display: flex;
    padding-top: 10%;
    max-width: 110%;
    background-image: linear-gradient(to right, var(--black), var(--blue));

}

h1 {
    padding-top: 3.5%;
    color: var(--black);
    text-align: center;
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
}

h1 span {
    background-color: var(--aqua);
}

.h2 {
    display: flex right;
    padding-left: 65%;
    text-align: right;
    flex-wrap: wrap;
}



.sidebar {
    height: 350%;
    width: 20%;
    text-align: end;
    font-size: 34px;
    position: absolute;
    border-right: var(--blue) solid 10px;
}

.body-text {
    display: inline-flex;
    width: 78%;
    margin-left: 22%;
    padding-top: 2%;
    position: relative;
    text-align: right;
    font-size: large;
    flex-wrap: wrap;
}

.body-text2 {
    display: inline-flex;
    width: 30%;
    height: 40%;
    padding-right: 5%;
    position: relative;
    align-content: left;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    left: 20%;
    bottom: 20%;


}

.body-text3 {
    display: inline-flex;
    width: 30%;
    height: 40%;
    padding-left: 5%;
    position: relative;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    left: 20%;
    bottom: 60%;
    flex-direction: column;
}

.body-Text4 {display: inline-flex;
    width: 30%;
    height: 40%;
    padding-right: 5%;
    position: relative;
    align-content: left;
    justify-content: center;
    flex-wrap: wrap;
    right: 100%;
    bottom: 20%;
}   
.body-Text5 {
display: inline-flex;
    width: 30%;
    height: 40%;
    padding-left: 5%;
    position: relative;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    left: 80%;
    bottom: 60%;
    flex-direction: column;
}
.me {
    display: flex;
    max-width: 10%;
    flex: 2 1
}


.About,
.work,
.contact-me {
    color: white;
    text-align: right;

}


ul {
    flex-wrap: wrap;
    list-style-type: none;
}

.navigation {
    display: inline-flex;
    position: absolute;
    align-content: end;
    right: 30px;
}

li {
    text-align: right;
    color: var(--aqua);
    margin-left: 24px;
    margin-right: auto;
}


.nav {
    display: inline-flex;
    max-height: 100px;
    margin: 0, auto;
    background-color: linear-gradient(left, var(--aqua), #3d4444);
}

.h2 {
    text-align: right;
    padding-right: 2%;
    color: aliceblue;
    flex-wrap: wrap;
}

#AboutMe {
    display: flex;
}

#Work h3 {
    padding-top: 100%;
}


#work {
    display: inline-flex;
    flex: 1 1 100%
}


.Hori {

    max-width: 100%;
    padding-top: 2%;
}

.Hori:hover {
    background-color: #0c0d0e;
    opacity: 0.7;

}

.prework {
    display: inline-flex;
    max-width: 100%;
    padding-top: 2%;
    border: solid grey 1px;
}

.prework:hover {
    background-color: var(--black);
    opacity: 0.7;

}

.placeholder-1 {
    display: inline-flex;
    max-width: 68%;
    padding-top: 2%;
    position: relative;
    right: 10%;
    align-content: end;
}

.placeholder-1:hover {
    background-color: var(--black);
    opacity: 0.7;

}

.placeholder-2 {
    display: inline-flex;
    max-width: 68%;
    position: relative;
    left: 10%;
    align-content: start;

}

.placeholder-2:hover {
    background-color: var(--black);
    opacity: 0.7;

}

.placeholder-3 {
    display: inline-flex;
    max-width: 68%;
    max-height: 100%;
    position: relative;
    left: 8%;
    align-content: end;

}

.placeholder-3:hover {
    background-color: var(--black);
    opacity: 0.7;

}

#ContactMe {
    margin-top: 100%;
}


@media screen and (max-width: 992px) {
    .Hori {
        max-width: 80%;
    }

    .me {
        max-width: 10%;
        max-height: 10%;
    }

    .prework {
        max-width: 120%;
    }

    .placeholder-1 {
        max-width: 120%;
    }

    .placeholder-2 {
        max-width: 120%;
    }

    .placeholder-3 {
        max-width: 120%
    }

    .sidebar {
        font-size: 24px;
    }

    nav {
        background-image: linear-gradient(to right, var(--black), red);
    }
}

@media screen and (max-width: 768px) {
    .Hori {
        max-width: 58%;
    }

    .me {
        max-width: 6%;
        max-height: 6%;
    }

    .prework {
        max-width: 87%;
    }

    .placeholder-1 {
        max-width: 87%;
    }

    .placeholder-2 {
        max-width: 87%;
    }

    .placeholder-3 {
        max-width: 87%
    }

    .sidebar {
        font-size: 24px;
    }

    nav {
        background-image: linear-gradient(to right, var(--black), orange);
    }
}

@media screen and(max-width: 576px) {
    .Hori {
        max: width 43%;
    }

    .me {
        max-width: 4.5%;
        max-height: 4.5%;
    }

    .prework {
        max-width: 87%;
    }

    .placeholder-1 {
        max-width: 87%;
    }

    .placeholder-2 {
        max-width: 87%;
    }

    .placeholder-3 {
        max-width: 87%
    }

    .sidebar {
        font-size: 16px;
    }

    nav {
        background-image: linear-gradient(to right, var(--black), green);
    }
}