:root {
    --aqua: #99d1d1;
}

html {
    scroll-behavior: smooth;
}

body {}

.header {
    display: inline-flex;
    padding-bottom: -10%;
    background-color: #3d4444;

}

nav {
    display: flexbox; 
    padding-top: 10%;
    max-width: 110%;
    background-image: linear-gradient(to right, black, blue);

}

.h2 {
    display: inline-block right;
}



.sidebar {
    height: 100%;
    width: 20%;
    border-right: blue solid 10px;
}

.body-text {
    margin-left: 20%;
    border-left: blue solid 10px
}



.me {
    display: inline-block;
    max-width: 8%;
    max-height: auto;
}


.h1 {
    background-color: var(--aqua);
    color: #0c0d0e;
    max-width: 30%;
    display: inline-box;

}

.About {
    padding-left: 125%;
    color: white;
    text-align: right;

}

ul {
    display: inline-flex;
    padding-right: 100%;
    border: red solid, 10px
}


li {
    text-align: right;
    color: var(--aqua);
}

.nav {
    display: inline-flex;
    max-height: 100px;
    margin: 0, auto;
    background-color: linear-gradient(left, var(--aqua), #3d4444);
}

.h2 {
    text-align: right;
    color: aliceblue;
}

#AboutMe h3 {
    font-size: xx-large;
    margin-top: 10000px;
}

#Work {}

#ContactMe {}

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and(max-width: 576px) {

}