:root {
    --aqua: #99d1d1;
    --blue: blue;
}


body {
    display: block;
    max-height: fit-content;

}

.header {
    display: flex;
    background-color: #3d4444;
    flex-wrap: wrap;
}

nav {
    display: flex;
    padding-top: 10%;
    max-width: 110%;
    background-image: linear-gradient(to right, black, var(--blue));

}

h1 {
    padding-top: 3.5%;
    color: #0c0d0e;
    text-align: center;
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
}

h1 span {
    background-color: var(--aqua);
}

.h2 {
    display: flex right;
    padding-left: 65%;
    text-align: right;
    flex-wrap: wrap;
}



.sidebar {
    height: 230%;
    width: 20%;
    text-align: end;
    font-size: 34px;
    position: absolute;
    border-right: var(--blue) solid 10px;
}

.body-text {
    display: inline-flex;
    width: 78%;
    margin-left: 22%;
    padding-top: 2%;
    position: relative;
    text-align: right;
    font-size: large;
    flex-wrap: wrap;
}

.body-text2 {
    display:flex;
    width: 40%;
    height: 40%;
    align-content: space-between;

    padding-top: 2%;
    position: relative;
    bottom: 20%;
    flex-wrap: wrap;
border:green solid 5px;
}

.body-text3 {
    display:flex;
    width: 40%;
    height: 40%;
    padding-left: 5%;
    position: relative;
    align-content: right;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1  100%;
    left:63%;
    bottom:60%;
    border:red solid 5px;
}



.me {
    display: flex;
    max-width: 10%;
    flex: 2 1
}


.About,
.work,
.contact-me {
    color: white;
    text-align: right;

}


ul {
    flex-wrap: wrap;
    list-style-type: none;
}

.navigation {
    display: inline-flex;
    position: absolute;
    align-content: end;
    right: 30px;
}

li {
    text-align: right;
    color: var(--aqua);
    margin-left: 24px;
    margin-right: auto;
}


.nav {
    display: inline-flex;
    max-height: 100px;
    margin: 0, auto;
    background-color: linear-gradient(left, var(--aqua), #3d4444);
}

.h2 {
    text-align: right;
    padding-right: 2%;
    color: aliceblue;
    flex-wrap: wrap;
}

#AboutMe {
    display: flex;
}

#Work h3 {
    padding-top: 100%;
}


#work{
    display:inline-flex;
    flex: 1 1 100%
}


.Hori {

    max-width: 100%;
    padding-top: 2%;
}

.prework {
    display: inline-flex;
    max-width: 100%;
    padding-top: 2%;
    border: solid grey 1px;
}

.placeholder-1 {
    display: inline-flex;
    max-width: 73%;
    position: relative;
    left: 40%;
    align-content: end;
border:yellow solid 5px
}

.placeholder-2 {
   display:inline-flex;
    max-width: 100%;
    position: relative;
    right: 0%;
    align-content: start;

}

.placeholder-3 {
    display:inline-flex;
    max-width: 100%;
    padding-bottom: 1%;
    max-height: 100%;
    position: relative;
    left: 40%;
    align-content: end;
border: green solid 5px
}


#ContactMe {
    margin-top: 100%;
}


@media screen and (max-width: 992px) {
    .Hori {
        max-width: 80%;
    }

    .me {
        max-width: 10%;
        max-height: 10%;
    }

    .prework {}

    .placeholder-1 {}

    .placeholder-2 {}

    .placeholder-3 {}


}

@media screen and (max-width: 768px) {
    .Hori {
        max-width: 58%;
    }

    .me {
        max-width: 6%;
        max-height: 6%;
    }
}

@media screen and(max-width: 576px) {
    .Hori {
        max: width 43%;
    }

    .me {
        max-width: 4.5%;
        max-height: 4.5%;
    }
}